/* Flat UI Colors */

@import 'variables';

.bg- {
  &turquoise { background: @turquoise; }
  &emerland { background: @emerland; }
  &peterriver { background: @peterriver; }
  &amethyst { background: @amethyst; }
  &wetasphalt { background: @wetasphalt; }
  &greensea { background: @greensea; }
  &nephritis { background: @nephritis; }
  &belizehole { background: @belizehole; }
  &wisteria { background: @wisteria; }
  &midnightblue { background: @midnightblue; }
  &sunflower { background: @sunflower; }
  &carrot { background: @carrot; }
  &alizarin { background: @alizarin; }
  &clouds { background: @clouds; }
  &concrete { background: @concrete; }
  &orange { background: @orange; }
  &pumpkin { background: @pumpkin; }
  &pomegranate { background: @pomegranate; }
  &silver { background: @silver; }
  &asbestos { background: @asbestos; }

  &metabootstrap-red { background: @metabootstrap-red; }

  &white { background: #fff; }
  &black { background: #000; }
}
.text- {
  &turquoise { color: @turquoise; }
  &emerland { color: @emerland; }
  &peterriver { color: @peterriver; }
  &amethyst { color: @amethyst; }
  &wetasphalt { color: @wetasphalt; }
  &greensea { color: @greensea; }
  &nephritis { color: @nephritis; }
  &belizehole { color: @belizehole; }
  &wisteria { color: @wisteria; }
  &midnightblue { color: @midnightblue; }
  &sunflower { color: @sunflower; }
  &carrot { color: @carrot; }
  &alizarin { color: @alizarin; }
  &clouds { color: @clouds; }
  &concrete { color: @concrete; }
  &orange { color: @orange; }
  &pumpkin { color: @pumpkin; }
  &pomegranate { color: @pomegranate; }
  &silver { color: @silver; }
  &asbestos { color: @asbestos; }

  &metabootstrap-red { color: @metabootstrap-red; }

  &white { color: #fff; }
  &black { color: #000; }
}

