/* Flat UI Colors */
/* Flat UI Colors */
/* Meta-Bootstrap Colors */
.bg-turquoise {
  background: #1abc9c;
}
.bg-emerland {
  background: #2ecc71;
}
.bg-peterriver {
  background: #3498db;
}
.bg-amethyst {
  background: #9b59b6;
}
.bg-wetasphalt {
  background: #34495e;
}
.bg-greensea {
  background: #16a085;
}
.bg-nephritis {
  background: #27ae60;
}
.bg-belizehole {
  background: #2980b9;
}
.bg-wisteria {
  background: #8e44ad;
}
.bg-midnightblue {
  background: #2c3e50;
}
.bg-sunflower {
  background: #f1c40f;
}
.bg-carrot {
  background: #e67e22;
}
.bg-alizarin {
  background: #e74c3c;
}
.bg-clouds {
  background: #ecf0f1;
}
.bg-concrete {
  background: #95a5a6;
}
.bg-orange {
  background: #f39c12;
}
.bg-pumpkin {
  background: #d35400;
}
.bg-pomegranate {
  background: #c0392b;
}
.bg-silver {
  background: #bdc3c7;
}
.bg-asbestos {
  background: #7f8c8d;
}
.bg-metabootstrap-red {
  background: #c51443;
}
.bg-white {
  background: #fff;
}
.bg-black {
  background: #000;
}
.text-turquoise {
  color: #1abc9c;
}
.text-emerland {
  color: #2ecc71;
}
.text-peterriver {
  color: #3498db;
}
.text-amethyst {
  color: #9b59b6;
}
.text-wetasphalt {
  color: #34495e;
}
.text-greensea {
  color: #16a085;
}
.text-nephritis {
  color: #27ae60;
}
.text-belizehole {
  color: #2980b9;
}
.text-wisteria {
  color: #8e44ad;
}
.text-midnightblue {
  color: #2c3e50;
}
.text-sunflower {
  color: #f1c40f;
}
.text-carrot {
  color: #e67e22;
}
.text-alizarin {
  color: #e74c3c;
}
.text-clouds {
  color: #ecf0f1;
}
.text-concrete {
  color: #95a5a6;
}
.text-orange {
  color: #f39c12;
}
.text-pumpkin {
  color: #d35400;
}
.text-pomegranate {
  color: #c0392b;
}
.text-silver {
  color: #bdc3c7;
}
.text-asbestos {
  color: #7f8c8d;
}
.text-metabootstrap-red {
  color: #c51443;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
