/*
 * DECLARATIVE CSS v0.0.1
 * James Futhey, 2015
 */
.height-1 {
  height: 1rem;
}
.height-2 {
  height: 2rem;
}
.height-3 {
  height: 4rem;
}
.height-4 {
  height: 8rem;
}
.height-5 {
  height: 16rem;
}
.height-6 {
  height: 32rem;
}
.height-7 {
  height: 48rem;
}
.height-8 {
  height: 64rem;
}
.height-9 {
  height: 96rem;
}
.height-10 {
  height: 10%;
}
.height-20 {
  height: 20%;
}
.height-25 {
  height: 25%;
}
.height-30 {
  height: 30%;
}
.height-40 {
  height: 40%;
}
.height-50 {
  height: 50%;
}
.height-60 {
  height: 60%;
}
.height-70 {
  height: 70%;
}
.height-75 {
  height: 75%;
}
.height-80 {
  height: 80%;
}
.height-90 {
  height: 90%;
}
.height-100 {
  height: 100%;
}
/* Height String Properties */
.height-border-box {
  height: border-box;
}
.height-content-box {
  height: content-box;
}
.height-max {
  height: max-content;
}
.height-min {
  height: min-content;
}
.height-available {
  height: available;
}
.height-fit-content {
  height: fit-content;
}
.height-auto {
  height: auto;
}
.height-inherit {
  height: inherit;
}
.max-height-1 {
  max-height: 1rem;
}
.max-height-2 {
  max-height: 2rem;
}
.max-height-3 {
  max-height: 4rem;
}
.max-height-4 {
  max-height: 8rem;
}
.max-height-5 {
  max-height: 16rem;
}
.max-height-6 {
  max-height: 32rem;
}
.max-height-7 {
  max-height: 48rem;
}
.max-height-8 {
  max-height: 64rem;
}
.max-height-9 {
  max-height: 96rem;
}
.max-height-10 {
  max-height: 10%;
}
.max-height-20 {
  max-height: 20%;
}
.max-height-25 {
  max-height: 25%;
}
.max-height-30 {
  max-height: 30%;
}
.max-height-40 {
  max-height: 40%;
}
.max-height-50 {
  max-height: 50%;
}
.max-height-60 {
  max-height: 60%;
}
.max-height-70 {
  max-height: 70%;
}
.max-height-75 {
  max-height: 75%;
}
.max-height-80 {
  max-height: 80%;
}
.max-height-90 {
  max-height: 90%;
}
.max-height-100 {
  max-height: 100%;
}
.max-height-none {
  max-height: none;
}
.max-height-max {
  max-height: max-content;
}
.max-height-min {
  max-height: min-content;
}
.max-height-fit {
  max-height: fit-content;
}
.max-height-fill {
  max-height: available;
}
.min-height-1 {
  min-height: 1rem;
}
.min-height-2 {
  min-height: 2rem;
}
.min-height-3 {
  min-height: 4rem;
}
.min-height-4 {
  min-height: 8rem;
}
.min-height-5 {
  min-height: 16rem;
}
.min-height-6 {
  min-height: 32rem;
}
.min-height-7 {
  min-height: 48rem;
}
.min-height-8 {
  min-height: 64rem;
}
.min-height-9 {
  min-height: 96rem;
}
.min-height-10 {
  min-height: 10%;
}
.min-height-20 {
  min-height: 20%;
}
.min-height-25 {
  min-height: 25%;
}
.min-height-30 {
  min-height: 30%;
}
.min-height-40 {
  min-height: 40%;
}
.min-height-50 {
  min-height: 50%;
}
.min-height-60 {
  min-height: 60%;
}
.min-height-70 {
  min-height: 70%;
}
.min-height-75 {
  min-height: 75%;
}
.min-height-80 {
  min-height: 80%;
}
.min-height-90 {
  min-height: 90%;
}
.min-height-100 {
  min-height: 100%;
}
.min-height-none {
  min-height: 0;
}
.min-height-min {
  min-height: min-content;
}
.min-height-min {
  min-height: min-content;
}
.min-height-fit {
  min-height: fit-content;
}
.min-height-fill {
  min-height: available;
}
.Height-1 {
  height: 1rem !important;
}
.Height-2 {
  height: 2rem !important;
}
.Height-3 {
  height: 4rem !important;
}
.Height-4 {
  height: 8rem !important;
}
.Height-5 {
  height: 16rem !important;
}
.Height-6 {
  height: 32rem !important;
}
.Height-7 {
  height: 48rem !important;
}
.Height-8 {
  height: 64rem !important;
}
.Height-9 {
  height: 96rem !important;
}
.Height-10 {
  height: 10% !important;
}
.Height-20 {
  height: 20% !important;
}
.Height-25 {
  height: 25% !important;
}
.Height-30 {
  height: 30% !important;
}
.Height-40 {
  height: 40% !important;
}
.Height-50 {
  height: 50% !important;
}
.Height-60 {
  height: 60% !important;
}
.Height-70 {
  height: 70% !important;
}
.Height-75 {
  height: 75% !important;
}
.Height-80 {
  height: 80% !important;
}
.Height-90 {
  height: 90% !important;
}
.Height-100 {
  height: 100% !important;
}
/* Height String Properties */
.Height-border-box {
  height: border-box !important;
}
.Height-content-box {
  height: content-box !important;
}
.Height-max {
  height: max-content !important;
}
.Height-min {
  height: min-content !important;
}
.Height-available {
  height: available !important;
}
.Height-fit-content {
  height: fit-content !important;
}
.Height-auto {
  height: auto !important;
}
.Height-inherit {
  height: inherit !important;
}
.Max-height-1 {
  max-height: 1rem !important;
}
.Max-height-2 {
  max-height: 2rem !important;
}
.Max-height-3 {
  max-height: 4rem !important;
}
.Max-height-4 {
  max-height: 8rem !important;
}
.Max-height-5 {
  max-height: 16rem !important;
}
.Max-height-6 {
  max-height: 32rem !important;
}
.Max-height-7 {
  max-height: 48rem !important;
}
.Max-height-8 {
  max-height: 64rem !important;
}
.Max-height-9 {
  max-height: 96rem !important;
}
.Max-height-10 {
  max-height: 10% !important;
}
.Max-height-20 {
  max-height: 20% !important;
}
.Max-height-25 {
  max-height: 25% !important;
}
.Max-height-30 {
  max-height: 30% !important;
}
.Max-height-40 {
  max-height: 40% !important;
}
.Max-height-50 {
  max-height: 50% !important;
}
.Max-height-60 {
  max-height: 60% !important;
}
.Max-height-70 {
  max-height: 70% !important;
}
.Max-height-75 {
  max-height: 75% !important;
}
.Max-height-80 {
  max-height: 80% !important;
}
.Max-height-90 {
  max-height: 90% !important;
}
.Max-height-100 {
  max-height: 100% !important;
}
.Max-height-none {
  max-height: none !important;
}
.Max-height-max {
  max-height: max-content !important;
}
.Max-height-min {
  max-height: min-content !important;
}
.Max-height-fit {
  max-height: fit-content !important;
}
.Max-height-fill {
  max-height: available !important;
}
.Min-height-1 {
  min-height: 1rem !important;
}
.Min-height-2 {
  min-height: 2rem !important;
}
.Min-height-3 {
  min-height: 4rem !important;
}
.Min-height-4 {
  min-height: 8rem !important;
}
.Min-height-5 {
  min-height: 16rem !important;
}
.Min-height-6 {
  min-height: 32rem !important;
}
.Min-height-7 {
  min-height: 48rem !important;
}
.Min-height-8 {
  min-height: 64rem !important;
}
.Min-height-9 {
  min-height: 96rem !important;
}
.Min-height-10 {
  min-height: 10% !important;
}
.Min-height-20 {
  min-height: 20% !important;
}
.Min-height-25 {
  min-height: 25% !important;
}
.Min-height-30 {
  min-height: 30% !important;
}
.Min-height-40 {
  min-height: 40% !important;
}
.Min-height-50 {
  min-height: 50% !important;
}
.Min-height-60 {
  min-height: 60% !important;
}
.Min-height-70 {
  min-height: 70% !important;
}
.Min-height-75 {
  min-height: 75% !important;
}
.Min-height-80 {
  min-height: 80% !important;
}
.Min-height-90 {
  min-height: 90% !important;
}
.Min-height-100 {
  min-height: 100% !important;
}
.Min-height-none {
  min-height: 0 !important;
}
.Min-height-min {
  min-height: min-content !important;
}
.Min-height-min {
  min-height: min-content !important;
}
.Min-height-fit {
  min-height: fit-content !important;
}
.Min-height-fill {
  min-height: available !important;
}
/* -xs */
@media (max-height: 768px) {
  .height-1-xs {
    height: 1rem;
  }
  .height-2-xs {
    height: 2rem;
  }
  .height-3-xs {
    height: 4rem;
  }
  .height-4-xs {
    height: 8rem;
  }
  .height-5-xs {
    height: 16rem;
  }
  .height-6-xs {
    height: 32rem;
  }
  .height-7-xs {
    height: 48rem;
  }
  .height-8-xs {
    height: 64rem;
  }
  .height-9-xs {
    height: 96rem;
  }
  .height-10-xs {
    height: 10%;
  }
  .height-20-xs {
    height: 20%;
  }
  .height-25-xs {
    height: 25%;
  }
  .height-30-xs {
    height: 30%;
  }
  .height-40-xs {
    height: 40%;
  }
  .height-50-xs {
    height: 50%;
  }
  .height-60-xs {
    height: 60%;
  }
  .height-70-xs {
    height: 70%;
  }
  .height-75-xs {
    height: 75%;
  }
  .height-80-xs {
    height: 80%;
  }
  .height-90-xs {
    height: 90%;
  }
  .height-100-xs {
    height: 100%;
  }
  /* Height String Properties */
  .height-border-box-xs {
    height: border-box;
  }
  .height-content-box-xs {
    height: content-box;
  }
  .height-max-xs {
    height: max-content;
  }
  .height-min-xs {
    height: min-content;
  }
  .height-available-xs {
    height: available;
  }
  .height-fit-content-xs {
    height: fit-content;
  }
  .height-auto-xs {
    height: auto;
  }
  .height-inherit-xs {
    height: inherit;
  }
  .max-height-1-xs {
    max-height: 1rem;
  }
  .max-height-2-xs {
    max-height: 2rem;
  }
  .max-height-3-xs {
    max-height: 4rem;
  }
  .max-height-4-xs {
    max-height: 8rem;
  }
  .max-height-5-xs {
    max-height: 16rem;
  }
  .max-height-6-xs {
    max-height: 32rem;
  }
  .max-height-7-xs {
    max-height: 48rem;
  }
  .max-height-8-xs {
    max-height: 64rem;
  }
  .max-height-9-xs {
    max-height: 96rem;
  }
  .max-height-10-xs {
    max-height: 10%;
  }
  .max-height-20-xs {
    max-height: 20%;
  }
  .max-height-25-xs {
    max-height: 25%;
  }
  .max-height-30-xs {
    max-height: 30%;
  }
  .max-height-40-xs {
    max-height: 40%;
  }
  .max-height-50-xs {
    max-height: 50%;
  }
  .max-height-60-xs {
    max-height: 60%;
  }
  .max-height-70-xs {
    max-height: 70%;
  }
  .max-height-75-xs {
    max-height: 75%;
  }
  .max-height-80-xs {
    max-height: 80%;
  }
  .max-height-90-xs {
    max-height: 90%;
  }
  .max-height-100-xs {
    max-height: 100%;
  }
  .max-height-none-xs {
    max-height: none;
  }
  .max-height-max-xs {
    max-height: max-content;
  }
  .max-height-min-xs {
    max-height: min-content;
  }
  .max-height-fit-xs {
    max-height: fit-content;
  }
  .max-height-fill-xs {
    max-height: available;
  }
  .min-height-1-xs {
    min-height: 1rem;
  }
  .min-height-2-xs {
    min-height: 2rem;
  }
  .min-height-3-xs {
    min-height: 4rem;
  }
  .min-height-4-xs {
    min-height: 8rem;
  }
  .min-height-5-xs {
    min-height: 16rem;
  }
  .min-height-6-xs {
    min-height: 32rem;
  }
  .min-height-7-xs {
    min-height: 48rem;
  }
  .min-height-8-xs {
    min-height: 64rem;
  }
  .min-height-9-xs {
    min-height: 96rem;
  }
  .min-height-10-xs {
    min-height: 10%;
  }
  .min-height-20-xs {
    min-height: 20%;
  }
  .min-height-25-xs {
    min-height: 25%;
  }
  .min-height-30-xs {
    min-height: 30%;
  }
  .min-height-40-xs {
    min-height: 40%;
  }
  .min-height-50-xs {
    min-height: 50%;
  }
  .min-height-60-xs {
    min-height: 60%;
  }
  .min-height-70-xs {
    min-height: 70%;
  }
  .min-height-75-xs {
    min-height: 75%;
  }
  .min-height-80-xs {
    min-height: 80%;
  }
  .min-height-90-xs {
    min-height: 90%;
  }
  .min-height-100-xs {
    min-height: 100%;
  }
  .min-height-none-xs {
    min-height: 0;
  }
  .min-height-min-xs {
    min-height: min-content;
  }
  .min-height-min-xs {
    min-height: min-content;
  }
  .min-height-fit-xs {
    min-height: fit-content;
  }
  .min-height-fill-xs {
    min-height: available;
  }
  .Height-1-xs {
    height: 1rem !important;
  }
  .Height-2-xs {
    height: 2rem !important;
  }
  .Height-3-xs {
    height: 4rem !important;
  }
  .Height-4-xs {
    height: 8rem !important;
  }
  .Height-5-xs {
    height: 16rem !important;
  }
  .Height-6-xs {
    height: 32rem !important;
  }
  .Height-7-xs {
    height: 48rem !important;
  }
  .Height-8-xs {
    height: 64rem !important;
  }
  .Height-9-xs {
    height: 96rem !important;
  }
  .Height-10-xs {
    height: 10% !important;
  }
  .Height-20-xs {
    height: 20% !important;
  }
  .Height-25-xs {
    height: 25% !important;
  }
  .Height-30-xs {
    height: 30% !important;
  }
  .Height-40-xs {
    height: 40% !important;
  }
  .Height-50-xs {
    height: 50% !important;
  }
  .Height-60-xs {
    height: 60% !important;
  }
  .Height-70-xs {
    height: 70% !important;
  }
  .Height-75-xs {
    height: 75% !important;
  }
  .Height-80-xs {
    height: 80% !important;
  }
  .Height-90-xs {
    height: 90% !important;
  }
  .Height-100-xs {
    height: 100% !important;
  }
  /* Height String Properties */
  .Height-border-box-xs {
    height: border-box !important;
  }
  .Height-content-box-xs {
    height: content-box !important;
  }
  .Height-max-xs {
    height: max-content !important;
  }
  .Height-min-xs {
    height: min-content !important;
  }
  .Height-available-xs {
    height: available !important;
  }
  .Height-fit-content-xs {
    height: fit-content !important;
  }
  .Height-auto-xs {
    height: auto !important;
  }
  .Height-inherit-xs {
    height: inherit !important;
  }
  .Max-height-1-xs {
    max-height: 1rem !important;
  }
  .Max-height-2-xs {
    max-height: 2rem !important;
  }
  .Max-height-3-xs {
    max-height: 4rem !important;
  }
  .Max-height-4-xs {
    max-height: 8rem !important;
  }
  .Max-height-5-xs {
    max-height: 16rem !important;
  }
  .Max-height-6-xs {
    max-height: 32rem !important;
  }
  .Max-height-7-xs {
    max-height: 48rem !important;
  }
  .Max-height-8-xs {
    max-height: 64rem !important;
  }
  .Max-height-9-xs {
    max-height: 96rem !important;
  }
  .Max-height-10-xs {
    max-height: 10% !important;
  }
  .Max-height-20-xs {
    max-height: 20% !important;
  }
  .Max-height-25-xs {
    max-height: 25% !important;
  }
  .Max-height-30-xs {
    max-height: 30% !important;
  }
  .Max-height-40-xs {
    max-height: 40% !important;
  }
  .Max-height-50-xs {
    max-height: 50% !important;
  }
  .Max-height-60-xs {
    max-height: 60% !important;
  }
  .Max-height-70-xs {
    max-height: 70% !important;
  }
  .Max-height-75-xs {
    max-height: 75% !important;
  }
  .Max-height-80-xs {
    max-height: 80% !important;
  }
  .Max-height-90-xs {
    max-height: 90% !important;
  }
  .Max-height-100-xs {
    max-height: 100% !important;
  }
  .Max-height-none-xs {
    max-height: none !important;
  }
  .Max-height-max-xs {
    max-height: max-content !important;
  }
  .Max-height-min-xs {
    max-height: min-content !important;
  }
  .Max-height-fit-xs {
    max-height: fit-content !important;
  }
  .Max-height-fill-xs {
    max-height: available !important;
  }
  .Min-height-1-xs {
    min-height: 1rem !important;
  }
  .Min-height-2-xs {
    min-height: 2rem !important;
  }
  .Min-height-3-xs {
    min-height: 4rem !important;
  }
  .Min-height-4-xs {
    min-height: 8rem !important;
  }
  .Min-height-5-xs {
    min-height: 16rem !important;
  }
  .Min-height-6-xs {
    min-height: 32rem !important;
  }
  .Min-height-7-xs {
    min-height: 48rem !important;
  }
  .Min-height-8-xs {
    min-height: 64rem !important;
  }
  .Min-height-9-xs {
    min-height: 96rem !important;
  }
  .Min-height-10-xs {
    min-height: 10% !important;
  }
  .Min-height-20-xs {
    min-height: 20% !important;
  }
  .Min-height-25-xs {
    min-height: 25% !important;
  }
  .Min-height-30-xs {
    min-height: 30% !important;
  }
  .Min-height-40-xs {
    min-height: 40% !important;
  }
  .Min-height-50-xs {
    min-height: 50% !important;
  }
  .Min-height-60-xs {
    min-height: 60% !important;
  }
  .Min-height-70-xs {
    min-height: 70% !important;
  }
  .Min-height-75-xs {
    min-height: 75% !important;
  }
  .Min-height-80-xs {
    min-height: 80% !important;
  }
  .Min-height-90-xs {
    min-height: 90% !important;
  }
  .Min-height-100-xs {
    min-height: 100% !important;
  }
  .Min-height-none-xs {
    min-height: 0 !important;
  }
  .Min-height-min-xs {
    min-height: min-content !important;
  }
  .Min-height-min-xs {
    min-height: min-content !important;
  }
  .Min-height-fit-xs {
    min-height: fit-content !important;
  }
  .Min-height-fill-xs {
    min-height: available !important;
  }
}
/* -sm */
@media (min-height: 768px) and (max-height: 992px) {
  .height-1-sm {
    height: 1rem;
  }
  .height-2-sm {
    height: 2rem;
  }
  .height-3-sm {
    height: 4rem;
  }
  .height-4-sm {
    height: 8rem;
  }
  .height-5-sm {
    height: 16rem;
  }
  .height-6-sm {
    height: 32rem;
  }
  .height-7-sm {
    height: 48rem;
  }
  .height-8-sm {
    height: 64rem;
  }
  .height-9-sm {
    height: 96rem;
  }
  .height-10-sm {
    height: 10%;
  }
  .height-20-sm {
    height: 20%;
  }
  .height-25-sm {
    height: 25%;
  }
  .height-30-sm {
    height: 30%;
  }
  .height-40-sm {
    height: 40%;
  }
  .height-50-sm {
    height: 50%;
  }
  .height-60-sm {
    height: 60%;
  }
  .height-70-sm {
    height: 70%;
  }
  .height-75-sm {
    height: 75%;
  }
  .height-80-sm {
    height: 80%;
  }
  .height-90-sm {
    height: 90%;
  }
  .height-100-sm {
    height: 100%;
  }
  /* Height String Properties */
  .height-border-box-sm {
    height: border-box;
  }
  .height-content-box-sm {
    height: content-box;
  }
  .height-max-sm {
    height: max-content;
  }
  .height-min-sm {
    height: min-content;
  }
  .height-available-sm {
    height: available;
  }
  .height-fit-content-sm {
    height: fit-content;
  }
  .height-auto-sm {
    height: auto;
  }
  .height-inherit-sm {
    height: inherit;
  }
  .max-height-1-sm {
    max-height: 1rem;
  }
  .max-height-2-sm {
    max-height: 2rem;
  }
  .max-height-3-sm {
    max-height: 4rem;
  }
  .max-height-4-sm {
    max-height: 8rem;
  }
  .max-height-5-sm {
    max-height: 16rem;
  }
  .max-height-6-sm {
    max-height: 32rem;
  }
  .max-height-7-sm {
    max-height: 48rem;
  }
  .max-height-8-sm {
    max-height: 64rem;
  }
  .max-height-9-sm {
    max-height: 96rem;
  }
  .max-height-10-sm {
    max-height: 10%;
  }
  .max-height-20-sm {
    max-height: 20%;
  }
  .max-height-25-sm {
    max-height: 25%;
  }
  .max-height-30-sm {
    max-height: 30%;
  }
  .max-height-40-sm {
    max-height: 40%;
  }
  .max-height-50-sm {
    max-height: 50%;
  }
  .max-height-60-sm {
    max-height: 60%;
  }
  .max-height-70-sm {
    max-height: 70%;
  }
  .max-height-75-sm {
    max-height: 75%;
  }
  .max-height-80-sm {
    max-height: 80%;
  }
  .max-height-90-sm {
    max-height: 90%;
  }
  .max-height-100-sm {
    max-height: 100%;
  }
  .max-height-none-sm {
    max-height: none;
  }
  .max-height-max-sm {
    max-height: max-content;
  }
  .max-height-min-sm {
    max-height: min-content;
  }
  .max-height-fit-sm {
    max-height: fit-content;
  }
  .max-height-fill-sm {
    max-height: available;
  }
  .min-height-1-sm {
    min-height: 1rem;
  }
  .min-height-2-sm {
    min-height: 2rem;
  }
  .min-height-3-sm {
    min-height: 4rem;
  }
  .min-height-4-sm {
    min-height: 8rem;
  }
  .min-height-5-sm {
    min-height: 16rem;
  }
  .min-height-6-sm {
    min-height: 32rem;
  }
  .min-height-7-sm {
    min-height: 48rem;
  }
  .min-height-8-sm {
    min-height: 64rem;
  }
  .min-height-9-sm {
    min-height: 96rem;
  }
  .min-height-10-sm {
    min-height: 10%;
  }
  .min-height-20-sm {
    min-height: 20%;
  }
  .min-height-25-sm {
    min-height: 25%;
  }
  .min-height-30-sm {
    min-height: 30%;
  }
  .min-height-40-sm {
    min-height: 40%;
  }
  .min-height-50-sm {
    min-height: 50%;
  }
  .min-height-60-sm {
    min-height: 60%;
  }
  .min-height-70-sm {
    min-height: 70%;
  }
  .min-height-75-sm {
    min-height: 75%;
  }
  .min-height-80-sm {
    min-height: 80%;
  }
  .min-height-90-sm {
    min-height: 90%;
  }
  .min-height-100-sm {
    min-height: 100%;
  }
  .min-height-none-sm {
    min-height: 0;
  }
  .min-height-min-sm {
    min-height: min-content;
  }
  .min-height-min-sm {
    min-height: min-content;
  }
  .min-height-fit-sm {
    min-height: fit-content;
  }
  .min-height-fill-sm {
    min-height: available;
  }
  .Height-1-sm {
    height: 1rem !important;
  }
  .Height-2-sm {
    height: 2rem !important;
  }
  .Height-3-sm {
    height: 4rem !important;
  }
  .Height-4-sm {
    height: 8rem !important;
  }
  .Height-5-sm {
    height: 16rem !important;
  }
  .Height-6-sm {
    height: 32rem !important;
  }
  .Height-7-sm {
    height: 48rem !important;
  }
  .Height-8-sm {
    height: 64rem !important;
  }
  .Height-9-sm {
    height: 96rem !important;
  }
  .Height-10-sm {
    height: 10% !important;
  }
  .Height-20-sm {
    height: 20% !important;
  }
  .Height-25-sm {
    height: 25% !important;
  }
  .Height-30-sm {
    height: 30% !important;
  }
  .Height-40-sm {
    height: 40% !important;
  }
  .Height-50-sm {
    height: 50% !important;
  }
  .Height-60-sm {
    height: 60% !important;
  }
  .Height-70-sm {
    height: 70% !important;
  }
  .Height-75-sm {
    height: 75% !important;
  }
  .Height-80-sm {
    height: 80% !important;
  }
  .Height-90-sm {
    height: 90% !important;
  }
  .Height-100-sm {
    height: 100% !important;
  }
  /* Height String Properties */
  .Height-border-box-sm {
    height: border-box !important;
  }
  .Height-content-box-sm {
    height: content-box !important;
  }
  .Height-max-sm {
    height: max-content !important;
  }
  .Height-min-sm {
    height: min-content !important;
  }
  .Height-available-sm {
    height: available !important;
  }
  .Height-fit-content-sm {
    height: fit-content !important;
  }
  .Height-auto-sm {
    height: auto !important;
  }
  .Height-inherit-sm {
    height: inherit !important;
  }
  .Max-height-1-sm {
    max-height: 1rem !important;
  }
  .Max-height-2-sm {
    max-height: 2rem !important;
  }
  .Max-height-3-sm {
    max-height: 4rem !important;
  }
  .Max-height-4-sm {
    max-height: 8rem !important;
  }
  .Max-height-5-sm {
    max-height: 16rem !important;
  }
  .Max-height-6-sm {
    max-height: 32rem !important;
  }
  .Max-height-7-sm {
    max-height: 48rem !important;
  }
  .Max-height-8-sm {
    max-height: 64rem !important;
  }
  .Max-height-9-sm {
    max-height: 96rem !important;
  }
  .Max-height-10-sm {
    max-height: 10% !important;
  }
  .Max-height-20-sm {
    max-height: 20% !important;
  }
  .Max-height-25-sm {
    max-height: 25% !important;
  }
  .Max-height-30-sm {
    max-height: 30% !important;
  }
  .Max-height-40-sm {
    max-height: 40% !important;
  }
  .Max-height-50-sm {
    max-height: 50% !important;
  }
  .Max-height-60-sm {
    max-height: 60% !important;
  }
  .Max-height-70-sm {
    max-height: 70% !important;
  }
  .Max-height-75-sm {
    max-height: 75% !important;
  }
  .Max-height-80-sm {
    max-height: 80% !important;
  }
  .Max-height-90-sm {
    max-height: 90% !important;
  }
  .Max-height-100-sm {
    max-height: 100% !important;
  }
  .Max-height-none-sm {
    max-height: none !important;
  }
  .Max-height-max-sm {
    max-height: max-content !important;
  }
  .Max-height-min-sm {
    max-height: min-content !important;
  }
  .Max-height-fit-sm {
    max-height: fit-content !important;
  }
  .Max-height-fill-sm {
    max-height: available !important;
  }
  .Min-height-1-sm {
    min-height: 1rem !important;
  }
  .Min-height-2-sm {
    min-height: 2rem !important;
  }
  .Min-height-3-sm {
    min-height: 4rem !important;
  }
  .Min-height-4-sm {
    min-height: 8rem !important;
  }
  .Min-height-5-sm {
    min-height: 16rem !important;
  }
  .Min-height-6-sm {
    min-height: 32rem !important;
  }
  .Min-height-7-sm {
    min-height: 48rem !important;
  }
  .Min-height-8-sm {
    min-height: 64rem !important;
  }
  .Min-height-9-sm {
    min-height: 96rem !important;
  }
  .Min-height-10-sm {
    min-height: 10% !important;
  }
  .Min-height-20-sm {
    min-height: 20% !important;
  }
  .Min-height-25-sm {
    min-height: 25% !important;
  }
  .Min-height-30-sm {
    min-height: 30% !important;
  }
  .Min-height-40-sm {
    min-height: 40% !important;
  }
  .Min-height-50-sm {
    min-height: 50% !important;
  }
  .Min-height-60-sm {
    min-height: 60% !important;
  }
  .Min-height-70-sm {
    min-height: 70% !important;
  }
  .Min-height-75-sm {
    min-height: 75% !important;
  }
  .Min-height-80-sm {
    min-height: 80% !important;
  }
  .Min-height-90-sm {
    min-height: 90% !important;
  }
  .Min-height-100-sm {
    min-height: 100% !important;
  }
  .Min-height-none-sm {
    min-height: 0 !important;
  }
  .Min-height-min-sm {
    min-height: min-content !important;
  }
  .Min-height-min-sm {
    min-height: min-content !important;
  }
  .Min-height-fit-sm {
    min-height: fit-content !important;
  }
  .Min-height-fill-sm {
    min-height: available !important;
  }
}
/* -md */
@media (min-height: 992px) {
  .height-1-md {
    height: 1rem;
  }
  .height-2-md {
    height: 2rem;
  }
  .height-3-md {
    height: 4rem;
  }
  .height-4-md {
    height: 8rem;
  }
  .height-5-md {
    height: 16rem;
  }
  .height-6-md {
    height: 32rem;
  }
  .height-7-md {
    height: 48rem;
  }
  .height-8-md {
    height: 64rem;
  }
  .height-9-md {
    height: 96rem;
  }
  .height-10-md {
    height: 10%;
  }
  .height-20-md {
    height: 20%;
  }
  .height-25-md {
    height: 25%;
  }
  .height-30-md {
    height: 30%;
  }
  .height-40-md {
    height: 40%;
  }
  .height-50-md {
    height: 50%;
  }
  .height-60-md {
    height: 60%;
  }
  .height-70-md {
    height: 70%;
  }
  .height-75-md {
    height: 75%;
  }
  .height-80-md {
    height: 80%;
  }
  .height-90-md {
    height: 90%;
  }
  .height-100-md {
    height: 100%;
  }
  /* Height String Properties */
  .height-border-box-md {
    height: border-box;
  }
  .height-content-box-md {
    height: content-box;
  }
  .height-max-md {
    height: max-content;
  }
  .height-min-md {
    height: min-content;
  }
  .height-available-md {
    height: available;
  }
  .height-fit-content-md {
    height: fit-content;
  }
  .height-auto-md {
    height: auto;
  }
  .height-inherit-md {
    height: inherit;
  }
  .max-height-1-md {
    max-height: 1rem;
  }
  .max-height-2-md {
    max-height: 2rem;
  }
  .max-height-3-md {
    max-height: 4rem;
  }
  .max-height-4-md {
    max-height: 8rem;
  }
  .max-height-5-md {
    max-height: 16rem;
  }
  .max-height-6-md {
    max-height: 32rem;
  }
  .max-height-7-md {
    max-height: 48rem;
  }
  .max-height-8-md {
    max-height: 64rem;
  }
  .max-height-9-md {
    max-height: 96rem;
  }
  .max-height-10-md {
    max-height: 10%;
  }
  .max-height-20-md {
    max-height: 20%;
  }
  .max-height-25-md {
    max-height: 25%;
  }
  .max-height-30-md {
    max-height: 30%;
  }
  .max-height-40-md {
    max-height: 40%;
  }
  .max-height-50-md {
    max-height: 50%;
  }
  .max-height-60-md {
    max-height: 60%;
  }
  .max-height-70-md {
    max-height: 70%;
  }
  .max-height-75-md {
    max-height: 75%;
  }
  .max-height-80-md {
    max-height: 80%;
  }
  .max-height-90-md {
    max-height: 90%;
  }
  .max-height-100-md {
    max-height: 100%;
  }
  .max-height-none-md {
    max-height: none;
  }
  .max-height-max-md {
    max-height: max-content;
  }
  .max-height-min-md {
    max-height: min-content;
  }
  .max-height-fit-md {
    max-height: fit-content;
  }
  .max-height-fill-md {
    max-height: available;
  }
  .min-height-1-md {
    min-height: 1rem;
  }
  .min-height-2-md {
    min-height: 2rem;
  }
  .min-height-3-md {
    min-height: 4rem;
  }
  .min-height-4-md {
    min-height: 8rem;
  }
  .min-height-5-md {
    min-height: 16rem;
  }
  .min-height-6-md {
    min-height: 32rem;
  }
  .min-height-7-md {
    min-height: 48rem;
  }
  .min-height-8-md {
    min-height: 64rem;
  }
  .min-height-9-md {
    min-height: 96rem;
  }
  .min-height-10-md {
    min-height: 10%;
  }
  .min-height-20-md {
    min-height: 20%;
  }
  .min-height-25-md {
    min-height: 25%;
  }
  .min-height-30-md {
    min-height: 30%;
  }
  .min-height-40-md {
    min-height: 40%;
  }
  .min-height-50-md {
    min-height: 50%;
  }
  .min-height-60-md {
    min-height: 60%;
  }
  .min-height-70-md {
    min-height: 70%;
  }
  .min-height-75-md {
    min-height: 75%;
  }
  .min-height-80-md {
    min-height: 80%;
  }
  .min-height-90-md {
    min-height: 90%;
  }
  .min-height-100-md {
    min-height: 100%;
  }
  .min-height-none-md {
    min-height: 0;
  }
  .min-height-min-md {
    min-height: min-content;
  }
  .min-height-min-md {
    min-height: min-content;
  }
  .min-height-fit-md {
    min-height: fit-content;
  }
  .min-height-fill-md {
    min-height: available;
  }
  .Height-1-md {
    height: 1rem !important;
  }
  .Height-2-md {
    height: 2rem !important;
  }
  .Height-3-md {
    height: 4rem !important;
  }
  .Height-4-md {
    height: 8rem !important;
  }
  .Height-5-md {
    height: 16rem !important;
  }
  .Height-6-md {
    height: 32rem !important;
  }
  .Height-7-md {
    height: 48rem !important;
  }
  .Height-8-md {
    height: 64rem !important;
  }
  .Height-9-md {
    height: 96rem !important;
  }
  .Height-10-md {
    height: 10% !important;
  }
  .Height-20-md {
    height: 20% !important;
  }
  .Height-25-md {
    height: 25% !important;
  }
  .Height-30-md {
    height: 30% !important;
  }
  .Height-40-md {
    height: 40% !important;
  }
  .Height-50-md {
    height: 50% !important;
  }
  .Height-60-md {
    height: 60% !important;
  }
  .Height-70-md {
    height: 70% !important;
  }
  .Height-75-md {
    height: 75% !important;
  }
  .Height-80-md {
    height: 80% !important;
  }
  .Height-90-md {
    height: 90% !important;
  }
  .Height-100-md {
    height: 100% !important;
  }
  /* Height String Properties */
  .Height-border-box-md {
    height: border-box !important;
  }
  .Height-content-box-md {
    height: content-box !important;
  }
  .Height-max-md {
    height: max-content !important;
  }
  .Height-min-md {
    height: min-content !important;
  }
  .Height-available-md {
    height: available !important;
  }
  .Height-fit-content-md {
    height: fit-content !important;
  }
  .Height-auto-md {
    height: auto !important;
  }
  .Height-inherit-md {
    height: inherit !important;
  }
  .Max-height-1-md {
    max-height: 1rem !important;
  }
  .Max-height-2-md {
    max-height: 2rem !important;
  }
  .Max-height-3-md {
    max-height: 4rem !important;
  }
  .Max-height-4-md {
    max-height: 8rem !important;
  }
  .Max-height-5-md {
    max-height: 16rem !important;
  }
  .Max-height-6-md {
    max-height: 32rem !important;
  }
  .Max-height-7-md {
    max-height: 48rem !important;
  }
  .Max-height-8-md {
    max-height: 64rem !important;
  }
  .Max-height-9-md {
    max-height: 96rem !important;
  }
  .Max-height-10-md {
    max-height: 10% !important;
  }
  .Max-height-20-md {
    max-height: 20% !important;
  }
  .Max-height-25-md {
    max-height: 25% !important;
  }
  .Max-height-30-md {
    max-height: 30% !important;
  }
  .Max-height-40-md {
    max-height: 40% !important;
  }
  .Max-height-50-md {
    max-height: 50% !important;
  }
  .Max-height-60-md {
    max-height: 60% !important;
  }
  .Max-height-70-md {
    max-height: 70% !important;
  }
  .Max-height-75-md {
    max-height: 75% !important;
  }
  .Max-height-80-md {
    max-height: 80% !important;
  }
  .Max-height-90-md {
    max-height: 90% !important;
  }
  .Max-height-100-md {
    max-height: 100% !important;
  }
  .Max-height-none-md {
    max-height: none !important;
  }
  .Max-height-max-md {
    max-height: max-content !important;
  }
  .Max-height-min-md {
    max-height: min-content !important;
  }
  .Max-height-fit-md {
    max-height: fit-content !important;
  }
  .Max-height-fill-md {
    max-height: available !important;
  }
  .Min-height-1-md {
    min-height: 1rem !important;
  }
  .Min-height-2-md {
    min-height: 2rem !important;
  }
  .Min-height-3-md {
    min-height: 4rem !important;
  }
  .Min-height-4-md {
    min-height: 8rem !important;
  }
  .Min-height-5-md {
    min-height: 16rem !important;
  }
  .Min-height-6-md {
    min-height: 32rem !important;
  }
  .Min-height-7-md {
    min-height: 48rem !important;
  }
  .Min-height-8-md {
    min-height: 64rem !important;
  }
  .Min-height-9-md {
    min-height: 96rem !important;
  }
  .Min-height-10-md {
    min-height: 10% !important;
  }
  .Min-height-20-md {
    min-height: 20% !important;
  }
  .Min-height-25-md {
    min-height: 25% !important;
  }
  .Min-height-30-md {
    min-height: 30% !important;
  }
  .Min-height-40-md {
    min-height: 40% !important;
  }
  .Min-height-50-md {
    min-height: 50% !important;
  }
  .Min-height-60-md {
    min-height: 60% !important;
  }
  .Min-height-70-md {
    min-height: 70% !important;
  }
  .Min-height-75-md {
    min-height: 75% !important;
  }
  .Min-height-80-md {
    min-height: 80% !important;
  }
  .Min-height-90-md {
    min-height: 90% !important;
  }
  .Min-height-100-md {
    min-height: 100% !important;
  }
  .Min-height-none-md {
    min-height: 0 !important;
  }
  .Min-height-min-md {
    min-height: min-content !important;
  }
  .Min-height-min-md {
    min-height: min-content !important;
  }
  .Min-height-fit-md {
    min-height: fit-content !important;
  }
  .Min-height-fill-md {
    min-height: available !important;
  }
}
/* -lg */
@media (min-height: 1200px) {
  .height-1-lg {
    height: 1rem;
  }
  .height-2-lg {
    height: 2rem;
  }
  .height-3-lg {
    height: 4rem;
  }
  .height-4-lg {
    height: 8rem;
  }
  .height-5-lg {
    height: 16rem;
  }
  .height-6-lg {
    height: 32rem;
  }
  .height-7-lg {
    height: 48rem;
  }
  .height-8-lg {
    height: 64rem;
  }
  .height-9-lg {
    height: 96rem;
  }
  .height-10-lg {
    height: 10%;
  }
  .height-20-lg {
    height: 20%;
  }
  .height-25-lg {
    height: 25%;
  }
  .height-30-lg {
    height: 30%;
  }
  .height-40-lg {
    height: 40%;
  }
  .height-50-lg {
    height: 50%;
  }
  .height-60-lg {
    height: 60%;
  }
  .height-70-lg {
    height: 70%;
  }
  .height-75-lg {
    height: 75%;
  }
  .height-80-lg {
    height: 80%;
  }
  .height-90-lg {
    height: 90%;
  }
  .height-100-lg {
    height: 100%;
  }
  /* Height String Properties */
  .height-border-box-lg {
    height: border-box;
  }
  .height-content-box-lg {
    height: content-box;
  }
  .height-max-lg {
    height: max-content;
  }
  .height-min-lg {
    height: min-content;
  }
  .height-available-lg {
    height: available;
  }
  .height-fit-content-lg {
    height: fit-content;
  }
  .height-auto-lg {
    height: auto;
  }
  .height-inherit-lg {
    height: inherit;
  }
  .max-height-1-lg {
    max-height: 1rem;
  }
  .max-height-2-lg {
    max-height: 2rem;
  }
  .max-height-3-lg {
    max-height: 4rem;
  }
  .max-height-4-lg {
    max-height: 8rem;
  }
  .max-height-5-lg {
    max-height: 16rem;
  }
  .max-height-6-lg {
    max-height: 32rem;
  }
  .max-height-7-lg {
    max-height: 48rem;
  }
  .max-height-8-lg {
    max-height: 64rem;
  }
  .max-height-9-lg {
    max-height: 96rem;
  }
  .max-height-10-lg {
    max-height: 10%;
  }
  .max-height-20-lg {
    max-height: 20%;
  }
  .max-height-25-lg {
    max-height: 25%;
  }
  .max-height-30-lg {
    max-height: 30%;
  }
  .max-height-40-lg {
    max-height: 40%;
  }
  .max-height-50-lg {
    max-height: 50%;
  }
  .max-height-60-lg {
    max-height: 60%;
  }
  .max-height-70-lg {
    max-height: 70%;
  }
  .max-height-75-lg {
    max-height: 75%;
  }
  .max-height-80-lg {
    max-height: 80%;
  }
  .max-height-90-lg {
    max-height: 90%;
  }
  .max-height-100-lg {
    max-height: 100%;
  }
  .max-height-none-lg {
    max-height: none;
  }
  .max-height-max-lg {
    max-height: max-content;
  }
  .max-height-min-lg {
    max-height: min-content;
  }
  .max-height-fit-lg {
    max-height: fit-content;
  }
  .max-height-fill-lg {
    max-height: available;
  }
  .min-height-1-lg {
    min-height: 1rem;
  }
  .min-height-2-lg {
    min-height: 2rem;
  }
  .min-height-3-lg {
    min-height: 4rem;
  }
  .min-height-4-lg {
    min-height: 8rem;
  }
  .min-height-5-lg {
    min-height: 16rem;
  }
  .min-height-6-lg {
    min-height: 32rem;
  }
  .min-height-7-lg {
    min-height: 48rem;
  }
  .min-height-8-lg {
    min-height: 64rem;
  }
  .min-height-9-lg {
    min-height: 96rem;
  }
  .min-height-10-lg {
    min-height: 10%;
  }
  .min-height-20-lg {
    min-height: 20%;
  }
  .min-height-25-lg {
    min-height: 25%;
  }
  .min-height-30-lg {
    min-height: 30%;
  }
  .min-height-40-lg {
    min-height: 40%;
  }
  .min-height-50-lg {
    min-height: 50%;
  }
  .min-height-60-lg {
    min-height: 60%;
  }
  .min-height-70-lg {
    min-height: 70%;
  }
  .min-height-75-lg {
    min-height: 75%;
  }
  .min-height-80-lg {
    min-height: 80%;
  }
  .min-height-90-lg {
    min-height: 90%;
  }
  .min-height-100-lg {
    min-height: 100%;
  }
  .min-height-none-lg {
    min-height: 0;
  }
  .min-height-min-lg {
    min-height: min-content;
  }
  .min-height-min-lg {
    min-height: min-content;
  }
  .min-height-fit-lg {
    min-height: fit-content;
  }
  .min-height-fill-lg {
    min-height: available;
  }
  .Height-1-lg {
    height: 1rem !important;
  }
  .Height-2-lg {
    height: 2rem !important;
  }
  .Height-3-lg {
    height: 4rem !important;
  }
  .Height-4-lg {
    height: 8rem !important;
  }
  .Height-5-lg {
    height: 16rem !important;
  }
  .Height-6-lg {
    height: 32rem !important;
  }
  .Height-7-lg {
    height: 48rem !important;
  }
  .Height-8-lg {
    height: 64rem !important;
  }
  .Height-9-lg {
    height: 96rem !important;
  }
  .Height-10-lg {
    height: 10% !important;
  }
  .Height-20-lg {
    height: 20% !important;
  }
  .Height-25-lg {
    height: 25% !important;
  }
  .Height-30-lg {
    height: 30% !important;
  }
  .Height-40-lg {
    height: 40% !important;
  }
  .Height-50-lg {
    height: 50% !important;
  }
  .Height-60-lg {
    height: 60% !important;
  }
  .Height-70-lg {
    height: 70% !important;
  }
  .Height-75-lg {
    height: 75% !important;
  }
  .Height-80-lg {
    height: 80% !important;
  }
  .Height-90-lg {
    height: 90% !important;
  }
  .Height-100-lg {
    height: 100% !important;
  }
  /* Height String Properties */
  .Height-border-box-lg {
    height: border-box !important;
  }
  .Height-content-box-lg {
    height: content-box !important;
  }
  .Height-max-lg {
    height: max-content !important;
  }
  .Height-min-lg {
    height: min-content !important;
  }
  .Height-available-lg {
    height: available !important;
  }
  .Height-fit-content-lg {
    height: fit-content !important;
  }
  .Height-auto-lg {
    height: auto !important;
  }
  .Height-inherit-lg {
    height: inherit !important;
  }
  .Max-height-1-lg {
    max-height: 1rem !important;
  }
  .Max-height-2-lg {
    max-height: 2rem !important;
  }
  .Max-height-3-lg {
    max-height: 4rem !important;
  }
  .Max-height-4-lg {
    max-height: 8rem !important;
  }
  .Max-height-5-lg {
    max-height: 16rem !important;
  }
  .Max-height-6-lg {
    max-height: 32rem !important;
  }
  .Max-height-7-lg {
    max-height: 48rem !important;
  }
  .Max-height-8-lg {
    max-height: 64rem !important;
  }
  .Max-height-9-lg {
    max-height: 96rem !important;
  }
  .Max-height-10-lg {
    max-height: 10% !important;
  }
  .Max-height-20-lg {
    max-height: 20% !important;
  }
  .Max-height-25-lg {
    max-height: 25% !important;
  }
  .Max-height-30-lg {
    max-height: 30% !important;
  }
  .Max-height-40-lg {
    max-height: 40% !important;
  }
  .Max-height-50-lg {
    max-height: 50% !important;
  }
  .Max-height-60-lg {
    max-height: 60% !important;
  }
  .Max-height-70-lg {
    max-height: 70% !important;
  }
  .Max-height-75-lg {
    max-height: 75% !important;
  }
  .Max-height-80-lg {
    max-height: 80% !important;
  }
  .Max-height-90-lg {
    max-height: 90% !important;
  }
  .Max-height-100-lg {
    max-height: 100% !important;
  }
  .Max-height-none-lg {
    max-height: none !important;
  }
  .Max-height-max-lg {
    max-height: max-content !important;
  }
  .Max-height-min-lg {
    max-height: min-content !important;
  }
  .Max-height-fit-lg {
    max-height: fit-content !important;
  }
  .Max-height-fill-lg {
    max-height: available !important;
  }
  .Min-height-1-lg {
    min-height: 1rem !important;
  }
  .Min-height-2-lg {
    min-height: 2rem !important;
  }
  .Min-height-3-lg {
    min-height: 4rem !important;
  }
  .Min-height-4-lg {
    min-height: 8rem !important;
  }
  .Min-height-5-lg {
    min-height: 16rem !important;
  }
  .Min-height-6-lg {
    min-height: 32rem !important;
  }
  .Min-height-7-lg {
    min-height: 48rem !important;
  }
  .Min-height-8-lg {
    min-height: 64rem !important;
  }
  .Min-height-9-lg {
    min-height: 96rem !important;
  }
  .Min-height-10-lg {
    min-height: 10% !important;
  }
  .Min-height-20-lg {
    min-height: 20% !important;
  }
  .Min-height-25-lg {
    min-height: 25% !important;
  }
  .Min-height-30-lg {
    min-height: 30% !important;
  }
  .Min-height-40-lg {
    min-height: 40% !important;
  }
  .Min-height-50-lg {
    min-height: 50% !important;
  }
  .Min-height-60-lg {
    min-height: 60% !important;
  }
  .Min-height-70-lg {
    min-height: 70% !important;
  }
  .Min-height-75-lg {
    min-height: 75% !important;
  }
  .Min-height-80-lg {
    min-height: 80% !important;
  }
  .Min-height-90-lg {
    min-height: 90% !important;
  }
  .Min-height-100-lg {
    min-height: 100% !important;
  }
  .Min-height-none-lg {
    min-height: 0 !important;
  }
  .Min-height-min-lg {
    min-height: min-content !important;
  }
  .Min-height-min-lg {
    min-height: min-content !important;
  }
  .Min-height-fit-lg {
    min-height: fit-content !important;
  }
  .Min-height-fill-lg {
    min-height: available !important;
  }
}
